/* App.css - Global Styles */
.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.main-description,
.specials,
.testimonials,
.about {
  padding: 20px;
}

/* Header Component */
.logo {
  height: 72px;
}

/* Nav Component */
.navbar {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar li {
  padding: 0 20px; /* This gives space between the navigation items */
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

/* MainDescription Component */
.main-description {
  height: 20em;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.6)
    ),
    url("../public/bg4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main {
  color: #ffffff;
  font-size: x-large;
}

/* Specials Component */
.specials {
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.special-title {
  text-align: center;
  font-size: 2rem; /* Adjust font size as needed */
  width: 100%;
  margin-bottom: 2rem; /* Space between title and specials */
}

.specials-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem;
  justify-content: center;
  align-items: start;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}
.special-item {
  background: #f0f0f0; /* Change as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds some shadow to each item */
  border-radius: 12px; /* Optional: rounds the corners */
  overflow: hidden; /* Ensures the content is contained within the borders */
}

.special-item img {
  width: 100%;
  display: block; /* Removes bottom space under the image */
  height: auto; /* Maintain aspect ratio */
}

.special-item h3,
.special-item p,
.special-item .price {
  padding: 0.5rem; /* Adjust padding as needed */
  margin: 0;
}

.special-item .price {
  font-weight: bold;
  color: #333; /* Change as needed */
  text-align: right; /* Aligns price to the right */
  padding-right: 1rem; /* Adjust padding as needed */
}

.special-item h3 {
  border-bottom: 1px solid #eee; /* Optional: adds a separator */
  padding-bottom: 0.5rem; /* Adjust padding as needed */
}

/* Testimonials Component */
.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: 40px;
  background-color: #f0f0f0; /* Updated to a solid gray background */
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin: 20px;
  align-items: start; /* Ensure the title is at the top */
}

.testimonials h2 {
  grid-column: 1 / -1; /* Stretch the title across all columns */
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 2rem;
}

blockquote {
  font-style: italic;
  background: white;
  border-left: 5px solid #ffa500;
  padding: 20px;
  margin: 0 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

@media (max-width: 600px) {
  .testimonials {
    grid-template-columns: 1fr;
  }
}

/* About Component */
.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.about-content {
  flex: 1;
  padding-right: 20px; /* Ensures some space between text and image */
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Optional: Adds rounded corners to the image */
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .about-content,
  .about-image {
    width: 100%; /* Ensures full width on smaller screens */
    padding-right: 0;
  }

  .about-image img {
    max-width: 100%; /* Allows the image to scale down on small devices */
    height: auto; /* Maintains the aspect ratio */
  }
}

.about-content,
.about-image {
  flex: 1;
  max-width: 500px; /* Limits the width of the image container */
  width: 100%; /* Ensures the container sizes correctly on smaller screens */
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Optional: Adds rounded corners to the image */
  max-width: 500px; /* Maximum width for the image */
  display: block; /* Ensures the image is centered if smaller than the available space */
  margin: 0 auto; /* Centers the image horizontally */
}

/* Footer Component */
.footer-nav ul {
  display: flex;
  list-style-type: none;
}

.footer-nav a {
  color: #fff; /* Adjust as needed */
  text-decoration: none;
  padding: 0 10px;
}

.contact-info,
.social-media-links {
  display: flex;
  flex-direction: column;
}

.social-media-links a {
  padding: 5px 0;
}
