/* App.css - Global Styles */
.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.main-description,
.specials,
.testimonials,
.about {
  padding: 20px;
}

/* Header Component */
.logo {
  height: 72px;
}

/* Nav Component */
.navbar {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar li {
  padding: 0 20px; /* This gives space between the navigation items */
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

/* MainDescription Component */
.main-description {
  height: 20em;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.6)
    ),
    url("../public/bg4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main {
  color: #ffffff;
  font-size: x-large;
}

/* Specials Component */
.specials {
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.special-title {
  text-align: center;
  font-size: 2rem; /* Adjust font size as needed */
  width: 100%;
  margin-bottom: 2rem; /* Space between title and specials */
}

.specials-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem;
  justify-content: center;
  align-items: start;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}
.special-item {
  background: #fff; /* Change as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds some shadow to each item */
  border-radius: 4px; /* Optional: rounds the corners */
  overflow: hidden; /* Ensures the content is contained within the borders */
}

.special-item img {
  width: 100%;
  display: block; /* Removes bottom space under the image */
  height: auto; /* Maintain aspect ratio */
}

.special-item h3,
.special-item p,
.special-item .price {
  padding: 0.5rem; /* Adjust padding as needed */
  margin: 0;
}

.special-item .price {
  font-weight: bold;
  color: #333; /* Change as needed */
  text-align: right; /* Aligns price to the right */
  padding-right: 1rem; /* Adjust padding as needed */
}

.special-item h3 {
  border-bottom: 1px solid #eee; /* Optional: adds a separator */
  padding-bottom: 0.5rem; /* Adjust padding as needed */
}

/* Testimonials Component */
.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* About Component */
.about {
  background-color: #eaeaea; /* Adjust as needed */
}

/* Footer Component */
.footer {
  background-color: #333; /* Adjust as needed */
  color: #fff;
}

.footer-nav ul {
  display: flex;
  list-style-type: none;
}

.footer-nav a {
  color: #fff; /* Adjust as needed */
  text-decoration: none;
  padding: 0 10px;
}

.contact-info,
.social-media-links {
  display: flex;
  flex-direction: column;
}

.social-media-links a {
  padding: 5px 0;
}
