/* App.css - Global Styles */
.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.main-description,
.specials,
.testimonials,
.about {
  padding: 20px;
}

/* Header Component */
.logo {
  height: 90px;
}

/* Nav Component */
.navbar {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar li {
  padding: 0 20px; /* This gives space between the navigation items */
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

/* MainDescription Component */
.main-description {
  height: 20em;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.6)
    ),
    url("../public/bg4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main {
  color: #ffffff;
  font-size: x-large;
}

/* Specials Component */
.specials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Testimonials Component */
.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* About Component */
.about {
  background-color: #eaeaea; /* Adjust as needed */
}

/* Footer Component */
.footer {
  background-color: #333; /* Adjust as needed */
  color: #fff;
}

.footer-nav ul {
  display: flex;
  list-style-type: none;
}

.footer-nav a {
  color: #fff; /* Adjust as needed */
  text-decoration: none;
  padding: 0 10px;
}

.contact-info,
.social-media-links {
  display: flex;
  flex-direction: column;
}

.social-media-links a {
  padding: 5px 0;
}
